---
layout: default
refactor: true
---


{% include lang.html %}

{% assign all_pinned = site.posts | where: 'pin', 'true' %}
{% assign all_normal = site.posts | where_exp: 'item', 'item.pin != true and item.hidden != true' %}

{% assign posts = '' | split: '' %}

<!-- Get pinned posts on current page -->

{% assign visible_start = paginator.page | minus: 1 | times: paginator.per_page %}
{% assign visible_end = visible_start | plus: paginator.per_page %}

{% if all_pinned.size > visible_start %}
  {% if all_pinned.size > visible_end %}
    {% assign pinned_size = paginator.per_page %}
  {% else %}
    {% assign pinned_size = all_pinned.size | minus: visible_start %}
  {% endif %}

  {% for i in (visible_start..all_pinned.size) limit: pinned_size %}
    {% assign posts = posts | push: all_pinned[i] %}
  {% endfor %}
{% else %}
  {% assign pinned_size = 0 %}
{% endif %}

<!-- Get normal posts on current page -->

{% assign normal_size = paginator.posts | size | minus: pinned_size %}

{% if normal_size > 0 %}
  {% if pinned_size > 0 %}
    {% assign normal_start = 0 %}
  {% else %}
    {% assign normal_start = visible_start | minus: all_pinned.size %}
  {% endif %}

  {% assign normal_end = normal_start | plus: normal_size | minus: 1 %}

  {% for i in (normal_start..normal_end) %}
    {% assign posts = posts | push: all_normal[i] %}
  {% endfor %}
{% endif %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-dY/LOVJYbh7K5Q4iIwCBgYHl3e7wnjXRMFGeZJFhK4uirjGHeJmMjBP1Y3mIus63ruCI5dvzAZRgwJad+7kY1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<!-- 添加加粗的大标题 -->
<h1 class="text-center font-weight-bold my-4">Bangzheng Han</h1>

<!-- 添加简历内容 -->
<section id="cv" class="container my-5">
  <!-- Basic Information -->
  <div class="basic-info mb-4">
    <p><strong>Email:</strong> <a href="mailto:bzhan.phy@gmail.com">bzhan.phy@gmail.com</a></p>
    <p><strong>Phone:</strong> (+86) 166-4507-3996</p>
  </div>

  <!-- Education -->
  <h2><i class="fa fa-graduation-cap"></i> Education</h2>
  <hr>
  <div class="education mb-4">
    <div class="education-item mb-3">
      <h3><strong>Xi'an Jiaotong University (XJTU)</strong>, Xi'an, China</h3>
      <p><em>B.S. in Physics, expected August 2025</em></p>
      <p>September 2021 – Present</p>
    </div>
        <!-- 插入的博客卡片 -->
    <article class="card-wrapper card mb-3">
      <a href="/posts/GradeBa/" class="post-preview row g-0 flex-md-row-reverse" style="color: rgba(0, 0, 0, 0.6); text-decoration: none;">       
        <div class="col-md-12"> 
          <div class="card-body d-flex flex-column">
            <!-- 缩小标题字体 -->
            <h2 class="card-title my-2 mt-md-0" style="font-size:1.2em; color: rgba(0, 0, 0, 0.6);">Grades During Undergraduate Program at Xi'an Jiaotong University (Up to Junior Year)</h2>
            <div class="card-text content mt-0 mb-3" style="color: rgba(0, 0, 0, 0.6);">
              <p>All subject grades in the table</p>
            </div>
            <div class="post-meta flex-grow-1 d-flex align-items-end" style="color: rgba(0, 0, 0, 0.6);">
              <div class="me-auto">
                <i class="far fa-calendar fa-fw me-1" style="color: rgba(0, 0, 0, 0.6);"></i>
                August 31, 2024&nbsp;&nbsp;&nbsp;&nbsp;
                <!-- 类别 -->
                <i class="far fa-folder-open fa-fw me-1" style="color: rgba(0, 0, 0, 0.6);"></i>
                <span class="categories">
                  XJTU, Grade
                </span>
              </div>

            </div>
          </div>
        </div>
      </a>
    </article>


    <div class="education-item mb-3">
      <h3><strong>University of California, Berkeley</strong>, Berkeley, CA, USA</h3>
      <p><em>Exchange Program in Physics</em></p>
      <p>September 2023 – January 2024</p>
    </div>
            <!-- 插入的博客卡片 -->
    <article class="card-wrapper card mb-3">
      <a href="/posts/GradeBerk/" class="post-preview row g-0 flex-md-row-reverse" style="color: rgba(0, 0, 0, 0.6); text-decoration: none;">       
        <div class="col-md-12"> 
          <div class="card-body d-flex flex-column">
            <!-- 缩小标题字体 -->
            <h2 class="card-title my-2 mt-md-0" style="font-size:1.2em; color: rgba(0, 0, 0, 0.6);">Grades During Exchange Program at UC Berkeley</h2>
            <div class="card-text content mt-0 mb-3" style="color: rgba(0, 0, 0, 0.6);">
              <p>All subject grades in the table</p>
            </div>
            <div class="post-meta flex-grow-1 d-flex align-items-end" style="color: rgba(0, 0, 0, 0.6);">
              <div class="me-auto">
                <i class="far fa-calendar fa-fw me-1" style="color: rgba(0, 0, 0, 0.6);"></i>
                January 10, 2024&nbsp;&nbsp;&nbsp;&nbsp;
                <!-- 类别 -->
                <i class="far fa-folder-open fa-fw me-1" style="color: rgba(0, 0, 0, 0.6);"></i>
                <span class="categories">
                  Berkeley, Grade
                </span>
              </div>

            </div>
          </div>
        </div>
      </a>
    </article>
    <div class="education-item mb-3">
      <h3><strong>Xi'an Jiaotong University (XJTU)</strong>, Xi'an, China</h3>
      <p><em>Young Gifted Program as an alternative to high school</em></p>
      <p>September 2019 – August 2021</p>
    </div>
  </div>
              <!-- 插入的博客卡片 -->
    <article class="card-wrapper card mb-3">
      <a href="/posts/GradeYGP/" class="post-preview row g-0 flex-md-row-reverse" style="color: rgba(0, 0, 0, 0.6); text-decoration: none;">       
        <div class="col-md-12"> 
          <div class="card-body d-flex flex-column">
            <!-- 缩小标题字体 -->
            <h2 class="card-title my-2 mt-md-0" style="font-size:1.2em; color: rgba(0, 0, 0, 0.6);">Grades During Young Gifted Program at XJTU</h2>
            <div class="card-text content mt-0 mb-3" style="color: rgba(0, 0, 0, 0.6);">
              <p>All subject grades in the table</p>
            </div>
            <div class="post-meta flex-grow-1 d-flex align-items-end" style="color: rgba(0, 0, 0, 0.6);">
              <div class="me-auto">
                <i class="far fa-calendar fa-fw me-1" style="color: rgba(0, 0, 0, 0.6);"></i>
                January 10, 2024&nbsp;&nbsp;&nbsp;&nbsp;
                <!-- 类别 -->
                <i class="far fa-folder-open fa-fw me-1" style="color: rgba(0, 0, 0, 0.6);"></i>
                <span class="categories">
                  XJTU, Grade
                </span>
              </div>

            </div>
          </div>
        </div>
      </a>
    </article>

  <!-- Research Experience -->
  <h2><i class="fa fa-users"></i> Research Experience</h2>
  <hr>
  <div class="research-experience mb-4">
    <div class="research-item mb-3">
      <h3><strong>Strong Interface-Induced Spin–Orbit Interaction in Graphene on BiSe2O5</strong>, XJTU</h3>
      <p><strong>Role:</strong> Individual Project, Supervised by Professor Zhe Wang, Collaborated with Haibo Xie</p>
      <p>The project aims to stack graphene on BiSe2O5 to induce spin-orbit coupling, inspired by Professor Zhe Wang's work on WS2 and WSe2. It involves weak anti-localization effect measurements, analysis of Shubnikov-de Haas oscillations, and ab initio calculations of interface-induced SOI.</p>
      <ul>
        <li>Independently responsible for device fabrication, theoretical calculations, experimental design, and data processing.</li>
        <li>Collaborated with graduate student Haibo Xie for etching and data measurement.</li>
        <li>Currently analyzing data to draw conclusions from ongoing experiments.</li>
      </ul>
    </div>
    <div class="research-item mb-3">
      <h3><strong>Charge Transfer Dynamics in RuCl₃/hBN/WSe₂ Heterostructures</strong>, UC Berkeley</h3>
      <p><strong>Role:</strong> Undergraduate Research Assistant, Supervised by Professor Feng Wang</p>
      <p>Fabricated RuCl₃/hBN/WSe₂ heterostructure devices with top gate and contacts, and conducted absorption spectroscopy measurements and pump-probe measurements under the mentorship of Jingxu Xie.</p>
      <ul>
        <li>Mastered device fabrication techniques including preparation, transfer of 2D materials, photolithography, and metal electrode deposition.</li>
        <li>Learned how to fine-tune optical setups for photoelectric effect measurements.</li>
        <li>Developed a neural network for detecting thin hBN layers on wafers, achieving a 95% accuracy.</li>
      </ul>
    </div>
    <div class="research-item mb-3">
      <h3><strong>Replication of Propagation Dynamics of Truncated Vector Vortex Beams</strong>, XJTU</h3>
      <p><strong>Role:</strong> Research Training, Supervised by Professor Hong Gao</p>
      <p>Focused on replicating theoretical calculations and simulations for the paper "Investigation of Propagation Dynamics of Truncated Vector Vortex Beams," guided by graduate students Yun Chen and Jianyi Xu.</p>
      <ul>
        <li>Gained insights into Fourier optics and enhanced literature review skills.</li>
        <li>Discontinued further group work due to limited experimental opportunities for undergraduates and concurrent commitments to applying for exchange programs.</li>
      </ul>
    </div>
  </div>

  <!-- Honors and Awards -->
  <h2><i class="fa fa-heart"></i> Honors and Awards</h2>
  <hr>
  <div class="honors-awards mb-4">
    <div class="award-item mb-2">
      <p><em>National First Prize</em>, China Undergraduate Physics Tournament, October 2022</p>
    </div>
    <div class="award-item mb-2">
      <p><em>Third-Class Scholarship</em>, August 2022</p>
    </div>
  </div>

  <!-- Miscellaneous -->
  <h2><i class="fa fa-info-circle"></i> Miscellaneous</h2>
  <hr>
  <div class="miscellaneous">
    <ul>
      <li><strong>Languages:</strong> English - Fluent, Mandarin - Native speaker</li>
      <li><strong>Blog:</strong> !!!</li>
      <!-- <li><strong>GitHub:</strong> <a href="https://github.com/username" target="_blank">https://github.com/username</a></li> -->
    </ul>
  </div>
</section>

<div id="post-list" class="flex-grow-1 px-xl-1">
  {% for post in posts %}
    <article class="card-wrapper card">
      <a href="{{ post.url | relative_url }}" class="post-preview row g-0 flex-md-row-reverse">
        {% assign card_body_col = '12' %}

        {% if post.image %}
          {% assign src = post.image.path | default: post.image %}
          {% unless src contains '//' %}
            {% assign src = post.media_subpath | append: '/' | append: src | replace: '//', '/' %}
          {% endunless %}

          {% assign alt = post.image.alt | xml_escape | default: 'Preview Image' %}

          {% assign lqip = null %}

          {% if post.image.lqip %}
            {% capture lqip %}lqip="{{ post.image.lqip }}"{% endcapture %}
          {% endif %}

          <div class="col-md-5">
            <img src="{{ src }}" alt="{{ alt }}" {{ lqip }}>
          </div>

          {% assign card_body_col = '7' %}
        {% endif %}

        <div class="col-md-{{ card_body_col }}">
          <div class="card-body d-flex flex-column">
            <h1 class="card-title my-2 mt-md-0">{{ post.title }}</h1>

            <div class="card-text content mt-0 mb-3">
              <p>{% include post-description.html %}</p>
            </div>

            <div class="post-meta flex-grow-1 d-flex align-items-end">
              <div class="me-auto">
                <!-- Published Date -->
                <i class="far fa-calendar fa-fw me-1"></i>
                {% include datetime.html date=post.date lang=lang %}

                <!-- Categories -->
                {% if post.categories.size > 0 %}
                  <i class="far fa-folder-open fa-fw me-1"></i>
                  <span class="categories">
                    {% for category in post.categories %}
                      {{ category }}
                      {%- unless forloop.last -%},{%- endunless -%}
                    {% endfor %}
                  </span>
                {% endif %}
              </div>

              {% if post.pin %}
                <div class="pin ms-1">
                  <i class="fas fa-thumbtack fa-fw"></i>
                  <span>{{ site.data.locales[lang].post.pin_prompt }}</span>
                </div>
              {% endif %}
            </div>
            <!-- .post-meta -->
          </div>
          <!-- .card-body -->
        </div>
      </a>
    </article>
  {% endfor %}
</div>
<!-- #post-list -->

{% if paginator.total_pages > 1 %}
  {% include post-paginator.html %}
{% endif %}
